.review-table-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.review-header h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.add-review-button {
    padding: 10px 20px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-review-button:hover {
    background-color: #0056b3;
}

.review-table {
    width: 100%;
    border-collapse: collapse;
}

.review-table th,
.review-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.review-table th {
    background-color: #007bff;
    color: white;
}

.review-table td {
    color: #555;
}

.review-table tr:hover {
    background-color: #f1f1f1;
}